{% load static %}
<!DOCTYPE html>
<html style="font-size: 16px;">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="DCMTK - OFFIS DICOM Toolkit">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <link rel="stylesheet" href="{% static 'website/static/css/nicepage.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'website/static/css/style.css' %}" media="screen">
    <script class="u-script" type="text/javascript" src="{% static 'website/static/js/vendor/jquery/jquery.js' %}"
        defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static 'website/static/js/nicepage.js' %}"
        defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <script type="application/ld+json">{
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "",
      "logo": "images/DICOMLogo.jpg"
      }</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:type" content="website">

    <title>Datenschutz</title>
    <link rel="stylesheet" href="{% static 'website/static/css/datenschutz.css' %}" media="screen">
    <meta property="og:title" content="Datenschutz">
</head>

{% include "website/navbar.html" %}

<body data-home-page="Datenschutz.html" data-home-page-title="Datenschutz" class="u-body">
    <div class="container" style="max-width: 88rem; text-align: justify;">

        <h2>Datenschutzerkl&auml;rung</h2>

        Wir nehmen den Schutz Ihrer pers&ouml;nlichen Daten sehr ernst. Ihre Daten werden im Rahmen
        der gesetzlichen Vorschriften gesch&uuml;tzt. Personenbezogene Daten werden auf unseren Internetseiten
        nur im notwendigen Umfang erhoben. In keinem Fall werden die erhobenen Daten verkauft
        oder aus anderen Gr&uuml;nden an Dritte weitergegeben.

        <h3>Verantwortlicher</h3>
        <p>Verantwortlich f&uuml;r die hier erl&auml;uterte Datenverarbeitung ist der OFFIS e.V., Escherweg 2, 26121
            Oldenburg.</p>

        <h3>Erhebung und Verarbeitung von Daten</h3>
        <p>Jeder Zugriff auf eine unserer Internetseiten und jeder Abruf einer auf den Internetseiten hinterlegten
            Datei werden von g&auml;ngigen Webserver-Log-Dateien protokolliert. Die Speicherung dient internen
            systembezogenen und statistischen Zwecken. Protokolliert wird u.a.:
        <ul>
            <li>welche Datei angefordert wurde,</li>
            <li>der Name der Datei,</li>
            <li>das Datum und die Uhrzeit der Anforderung,</li>
            <li>die &uuml;bertragene Datenmenge,</li>
            <li>der Zugriffsstatus (Datei nicht gefunden, Datei &uuml;bertragen etc.),</li>
            <li>der Typ des verwendeten Webbrowsers und</li>
            <li>die IP-Adresse des Internetseitenbesuchers</li>
        </ul>
        S&auml;mtliche dieser Daten werden ausschlie&szlig;lich anonymisiert gespeichert und ausgewertet.
        Zu diesem Zweck wird die IP-Adresse des Systems, von dem aus die Internetseite oder Datei angefordert wurde,
        geeignet anonymisiert. Rechtsgrundlage ist Art. 6 Abs. 1 lit. f DSGVO (Datenschutz-Grundverordnung).
        Es ist somit weder ein R&uuml;ckschluss auf eine bestimmte Person m&ouml;glich, noch erfolgt eine
        Zusammenf&uuml;hrung mit anderen Daten.</p>

        <h3>Cookies</h3>
        <p>Dar&uuml;ber hinaus verwenden wir weitere Cookies, um unsere Internetseiten besser auf Ihre W&uuml;nsche
            ausrichten
            und um statistische Daten &uuml;ber die Nutzung unserer Internetseiten erheben zu k&ouml;nnen.
            Durch diese Cookies werden keine Daten erhoben, die einen R&uuml;ckschluss auf eine bestimmte Person
            erm&ouml;glich.
            Auch die Installation dieser Cookies wird durch eine entsprechende Browser-Einstellung verhindert.
            Einmal gesetzte Cookies k&ouml;nnen Sie jederzeit selbst l&ouml;schen, indem Sie den entsprechenden
            Men&uuml;punkt
            in Ihrem Internet-Browser aufrufen oder die Cookies auf Ihrer Festplatte l&ouml;schen.
            Einzelheiten hierzu finden Sie im Hilfemen&uuml; Ihres Internet-Browsers.</p>
        <p>Weitergehende personenbezogene Daten werden nur erfasst, wenn Sie diese Angaben freiwillig, z.B. im Rahmen
            einer Anfrage oder Registrierung, machen.</p>

        <h3>Datensicherheit</h3>
        <p>Um Ihre Daten vor unerw&uuml;nschten Zugriffen m&ouml;glichst umfassend zu sch&uuml;tzen, treffen wir
            technische
            und organisatorische Ma&szlig;nahmen. Wir setzen auf unseren Seiten ein Verschl&uuml;sselungsverfahren ein.
            Ihre Angaben werden von Ihrem Rechner zu unserem Server und umgekehrt &uuml;ber das Internet mittels einer
            TLS-Verschl&uuml;sselung &uuml;bertragen. Sie erkennen dies daran, dass in der Statusleiste Ihres Browsers
            das Schloss-Symbol geschlossen ist und die Adresszeile mit https:// beginnt.</p>
        <p>Bitte beachten Sie, dass au&szlig;erhalb der vorgenannten Rahmenbedingungen, insbesondere bei der
            Kommunikation
            per E-Mail die vollst&auml;ndige Datensicherheit von uns naturgem&auml;&szlig; nicht gew&auml;hrleistet
            werden
            kann.</p>

        <h3>Verwendung der Daten</h3>
        <p>Wir beachten den Grundsatz der zweckgebundenen Datenverwendung und erheben, verarbeiten und speichern
            Ihre personenbezogenen Daten nur f&uuml;r die Zwecke, f&uuml;r welche Sie uns diese mitgeteilt haben und
            f&uuml;r die technische Administration. Eine Weitergabe Ihrer pers&ouml;nlichen Daten an Dritte erfolgt ohne
            Ihre ausdr&uuml;ckliche Einwilligung nicht, sofern dies nicht zur Erbringung der Dienstleistung oder zur
            Vertragsdurchf&uuml;hrung notwendig ist. Auch die &Uuml;bermittlung an auskunftsberechtigte staatliche
            Institution
            und Beh&ouml;rden erfolgt nur im Rahmen der gesetzlichen Auskunftspflichten oder wenn wir durch eine
            gerichtliche
            Entscheidung zur Auskunft verpflichtet werden.</p>

        <h3>L&ouml;schung der Daten</h3>

        <p>Eine L&ouml;schung der gespeicherten personenbezogenen Daten erfolgt, wenn Sie Ihre Einwilligung zur
            Speicherung widerrufen, wenn deren Kenntnis zur Erf&uuml;llung des mit der Speicherung verfolgten Zwecks
            nicht mehr erforderlich ist oder wenn deren Speicherung aus sonstigen gesetzlichen Gr&uuml;nden
            unzul&auml;ssig
            ist.</p>

        <h3>Ihre Rechte als Nutzer</h3>
        <p>Bei Verarbeitung Ihrer personenbezogenen Daten gew&auml;hrt die DSGVO Ihnen als Webseitennutzer bestimmte
            Rechte:
        <ol>
            <li><i>Auskunftsrecht (Art. 15 DSGVO):</i> Sie haben das Recht eine Best&auml;tigung dar&uuml;ber zu
                verlangen,
                ob sie betreffende personenbezogene Daten verarbeitet werden; ist dies der Fall,
                so haben Sie ein Recht auf Auskunft &uuml;ber diese personenbezogenen Daten und auf die in Art.
                15 DSGVO im einzelnen aufgef&uuml;hrten Informationen.</li>

            <li><i>Recht auf Berichtigung und L&ouml;schung (Art. 16 und 17 DSGVO):</i> Sie haben das Recht,
                unverz&uuml;glich die Berichtigung sie betreffender unrichtiger personenbezogener Daten und ggf.
                die Vervollst&auml;ndigung unvollst&auml;ndiger personenbezogener Daten zu verlangen.
                Sie haben zudem das Recht, zu verlangen, dass sie betreffende personenbezogene Daten
                unverz&uuml;glich gel&ouml;scht werden, sofern einer der in Art. 17 DSGVO im einzelnen aufgef&uuml;hrten
                Gr&uuml;nde zutrifft, z. B. wenn die Daten f&uuml;r die verfolgten Zwecke nicht mehr ben&ouml;tigt
                werden.
            </li>

            <li><i>Recht auf Einschr&auml;nkung der Verarbeitung (Art. 18 DSGVO):</i> Sie haben das Recht,
                die Einschr&auml;nkung der Verarbeitung zu verlangen, wenn eine der in Art. 18 DSGVO aufgef&uuml;hrten
                Voraussetzungen gegeben ist, z. B. wenn Sie Widerspruch gegen die Verarbeitung eingelegt haben,
                f&uuml;r die Dauer einer etwaigen Pr&uuml;fung.</li>

            <li><i>Recht auf Daten&uuml;bertragbarkeit (Art. 20 DSGVO):</i> In bestimmten F&auml;llen, die in Art. 20
                DSGVO
                im Einzelnen aufgef&uuml;hrt werden, haben Sie das Recht, die sie betreffenden personenbezogenen Daten
                in einem strukturierten, g&auml;ngigen und maschinenlesbaren Format zu erhalten bzw.
                die &Uuml;bermittlung dieser Daten an einen Dritten zu verlangen. </li>

            <li><i>Widerspruchsrecht (Art. 21 DSGVO):</i> Werden Daten auf Grundlage von Art. 6 Abs. 1 lit. f erhoben
                (Datenverarbeitung zur Wahrung berechtigter Interessen), steht Ihnen das Recht zu, aus Gr&uuml;nden,
                die sich aus Ihrer besonderen Situation ergeben, jederzeit gegen die Verarbeitung Widerspruch
                einzulegen.
                Wir verarbeiten die personenbezogenen Daten dann nicht mehr, es sei denn, es liegen nachweisbar
                zwingende
                schutzw&uuml;rdige Gr&uuml;nde f&uuml;r die Verarbeitung vor, die die Interessen, Rechte und Freiheiten
                der
                betroffenen
                Person &uuml;berwiegen, oder die Verarbeitung dient der Geltendmachung, Aus&uuml;bung oder Verteidigung
                von
                Rechtsanspr&uuml;chen.</li>

            <li><i>Beschwerderecht bei einer Aufsichtsbeh&ouml;rde:</i> Sie haben gem. Art. 77 DSGVO das Recht auf
                Beschwerde
                bei einer Aufsichtsbeh&ouml;rde, wenn Sie der Ansicht sind, dass die Verarbeitung der Sie betreffenden
                Daten
                gegen datenschutzrechtliche Bestimmungen verst&ouml;&szlig;t. Das Beschwerderecht kann insbesondere bei
                einer Aufsichtsbeh&ouml;rde
                in dem Mitgliedstaat Ihres Aufenthaltsorts, Ihres Arbeitsplatzes oder des Orts des mutma&szlig;lichen
                Versto&szlig;es geltend gemacht werden.</li>
        </ol></p>

        <h3>Datenschutzbeauftragter</h3>
        <p>Dr. Uwe Schl&auml;ger<br />
            datenschutz nord GmbH<br />
            <a href="https://www.datenschutz-nord.de">www.datenschutz-nord.de</a><br />
            office(at)datenschutz-nord.de<br />
            Telefon: 0421 69 66 32 0
        </p>
    </div>
</body>
{% include "website/footer.html" %}

</html>