{% load static %}
<footer style="z-index: 0;">
<section class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-6419">
  <div class="u-clearfix u-sheet u-sheet-1">
    <p class="u-small-text u-text u-text-variant u-text-1">Lorem ipsum dolor sit amet,
      consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
  </div>
  <div class="container">
    <div></div>
    <a class="u-button-style u-nav-link" href="/impressum">Impressum</a>
    <a class="u-button-style u-nav-link" href="/datenschutz">Datenschutz</a>
  </div>
</section>
</footer>