{% load static %}

<nav style="max-width: inherit;  left: 50%;
  transform: translate(-50%, -0%);" id="nav" role="navigation" class="invisible">
    <div id="menuToggle">
        <input type="checkbox" />
        <!-- These spans generate the hamburger menu icon -->
        <span></span>
        <span></span>
        <span></span>

        <ul id="menu" class="u-opacity u-opacity-95" ::before>
            <li class="u-nav-item"><a class=" u-nav-link u-text-white u-text-hover-palette-B-base" href="/Home">Home</a>
            </li>
            <li class="u-nav-item"><a class="dropdown u-nav-link u-text-white u-text-hover-palette-B-base"
                    style="padding-right:40px" href="/Allgemeines">Allgemeines </a>
                <div class="u-nav-popup">
                    <ul class=" u-h-spacing-45 u-nav  u-v-spacing-12 u-nav-8">
                        <li class="u-nav-item"><a class="u-text-white" style="margin-left: 25px;"
                                href="/Allgemeines">Überblick</a>
                        </li>
                        <li class="u-nav-item"><a class="u-text-white" style="margin-left: 25px;"
                                href="/Allgemeines/Standardisierung">Standardisierung</a>
                        </li>
                        <li class="u-nav-item"><a class="u-text-white" style="margin-left: 25px;"
                                href="/Allgemeines/DICOM-Einführung">DICOM-Einführung</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="u-nav-item"><a class="dropdown u-nav-link u-text-white u-text-hover-palette-B-base"
                    href="/DCMTK">DCMTK</a>
                <div class="u-nav-popup">
                    <ul class="u-h-spacing-45 u-nav u-v-spacing-12 u-nav-9">
                        <li class="u-nav-item"><a class="u-text-white" style="margin-left: 25px;"
                                href="/DCMTK">Überblick</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-text-white" style="margin-left: 25px;"
                                href="/DCMTK/DCMTK-Einführung">DCMTK-Einführung</a>
                        </li>
                        <li class="u-nav-item"><a class="u-text-white" style="margin-left: 25px;"
                                href="/DCMTK/DCMTK-Tools">DCMTK-Tools</a>
                        </li>
                        <li class="u-nav-item"><a class="u-text-white" style="margin-left: 25px;"
                                href="/DCMTK/Softwareentwicklung_mit_DCMTK">DCMTK Softwareentwicklung</a>
                        </li>
                        <li class="u-nav-item"><a class="u-text-white" style="margin-left: 25px;"
                                href="/DCMTK/Support">Support</a>
                        </li>
                        <li class="u-nav-item"><a class="u-text-white" style="margin-left: 25px;"
                                href="/DCMTK/Spenden">Spenden</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="u-nav-item"><a class="  u-nav-link u-text-white u-text-hover-palette-B-base"
                    href="/DCMTK-Erweiterungsmodule">
                    DCMTK-Erweiterungsmodule</a>
                <div class="u-nav-popup">
                    <ul class="u-h-spacing-45 u-nav u-v-spacing-12 u-nav-10">
                        <p>
                            <li class="u-nav-item"><a class="u-text-white" style="margin-left: 25px;"
                                    href="/DCMTK-Erweiterungsmodule">Überblick</a>
                            </li>
                            <li class="u-nav-item"><a class="u-text-white" style="margin-left: 25px;"
                                    href="/DCMTK-Erweiterungsmodul/DCMPRINT">DCMPRINT</a>
                            </li>
                            <li class="u-nav-item"><a class="u-text-white" style="margin-left: 25px;"
                                    href="/DCMTK-Erweiterungsmodule/DCMJP2K">DCMJP2K</a>
                            </li>
                            <li class="u-nav-item"><a class="u-text-white" style="margin-left: 25px;"
                                    href="/DCMTK-Erweiterungsmodule/DCMPPS">DCMPPS</a>
                            </li>
                            <li class="u-nav-item"><a class="u-text-white" style="margin-left: 25px;"
                                    href="/DCMTK-Erweiterungsmodule/DCMPPSCU">DCMPPSCU</a>
                            </li>
                            <li class="u-nav-item"><a class="u-text-white" style="margin-left: 25px;"
                                    href="/DCMTK-Erweiterungsmodule/PPSMGR">PPSMGR</a>
                            </li>
                            <li class="u-nav-item"><a class="u-text-white" style="margin-left: 25px;"
                                    href="/DCMTK-Erweiterungsmodule/DCMTCOM">DCMSTCOM</a>
                            </li>
                            <li class="u-nav-item"><a class="u-text-white" style="margin-left: 25px;"
                                    href="/DCMTK-Erweiterungsmodule/Testversionen">Testversionen</a>
                            </li>
                        </p>
                    </ul>
                </div>
            </li>
            <li class="u-nav-item"><a class="  u-nav-link u-text-white u-text-hover-palette-B-base"
                    href="/DICOMscope">DICOMscope</a>
            </li>
            <li class="u-nav-item"><a class="  u-nav-link u-text-white u-text-hover-palette-B-base"
                    href=/Dienstleistungen">Dienstleistungen</a>
                <div class="u-nav-popup">
                    <ul class="u-h-spacing-45 u-nav u-v-spacing-12 u-nav-11">
                        <li class="u-nav-item"><a class="u-text-white" style="margin-left: 25px;"
                                href="/Dienstleistungen">Überblick</a>
                        </li>
                        <li class="u-nav-item"><a class="u-text-white" style="margin-left: 25px;"
                                href="/Dienstleistungen/DICOM-Beratung">DICOM-Beratung</a>
                        </li>
                        <li class="u-nav-item"><a class="u-text-white" style="margin-left: 25px;"
                                href="/Dienstleistungen/DICOM-Schulung">DICOM-Schulung</a>
                        </li>
                        <li class="u-nav-item"><a class="u-text-white" style="margin-left: 25px;"
                                href="/Dienstleistungen/IHE-Schulung<">IHE-Schulung</a>
                        </li>
                        <li class="u-nav-item"><a class="u-text-white" style="margin-left: 25px;"
                                href="/Dienstleistungen/HL7-Schulung">HL7-Schulung</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="u-nav-item"><a class="u-text-white u-text-hover-palette-B-base" href="/Kontakt">Kontakt</a>
                <div class="u-nav-popup">
                    <ul class="u-h-spacing-45 u-nav u-v-spacing-12 u-nav-12">
                        <li class="u-nav-item">
                        <li class="u-nav-item"><a class="u-text-white" style="margin-left: 25px;"
                                href="/Kontakt">Überblick</a>
                        </li>
            </li>
            <li class="u-nav-item"><a class="u-text-white" style="margin-left: 25px;"
                    href="/Kontakt/Ansprechpartner">Ansprechpartner</a>
            </li>
        </ul>
    </div>
    </li>
    </ul>
    </div>
</nav>

<nav id="top-menu" style="max-width: inherit;  left: 50%;
  transform: translate(-50%, -0%);" class=" u-menu u-menu-dropdown u-offcanvas u-menu-1" data-position="right">
    <div id="collapsed-top-menu" class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
        <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
            href="#">
        </a>
    </div>
    <div id="uncollapsed-top-menu" style="max-width: inherit;" class="u-nav-container">
        <ul id="top-menu-unordered-list" style="max-width: inherit;  left: 50%;
      transform: translate(-50%, -0%);" class="u-nav u-tabs.u-tab-links-align-right u-tab-list">
            <li style="max-width: 20%" class="u-nav-item">
                <a href="https://www.offis.de/"><img class="shadow brand-logo"
                        src="{% static 'images/OFFIS_Whitebackground.png' %}" height="100px"></a>
            </li>
            <li style=" min-width:15%; max-width: 20%" class="u-nav-item">
                <a href="/Home"><img class="shadow brand-logo" src="{% static 'images/DCMTK_ohne_Rand.png' %}"
                        height="100px"></a>
            </li>
            <li style=" min-width:10%; max-width: 15%; text-align: left; margin-left: -25px;"
                class="u-nav-item u-align-left"><a
                    class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-B-base"
                    href="/Home">Home<br></br></a>
            </li>
            <li style=" min-width:13%; max-width: 10%; margin-left: -25px;" class="u-nav-item u-align-left"><a
                    class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-B-base"
                    href="/Allgemeines">
                    Allgemeines<br></br></a>
                <div class="u-nav-popup">
                    <ul class="u-h-spacing-45 u-nav u-unstyled u-v-spacing-12 u-nav-2">
                        <li class="u-nav-item">
                            <div class="styled-button4"><a class="u-button-style u-white-0 u-nav-link"
                                    href="/Allgemeines/Standardisierung">Standardisierung</a>
                            </div>
                        </li>

                        <li class="u-nav-item">
                            <div class="styled-button4">
                                <a class="u-button-style u-white-0 u-nav-link"
                                    href="/Allgemeines/DICOM-Einführung">DICOM-Einführung</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>

            <li style=" min-width:5%; max-width: 10%; margin-left: -25px;" class="u-nav-item">
                <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-B-base"
                    href="/DCMTK">
                    DCMTK<br></br></a>
                <div class="u-nav-popup">
                    <ul class="u-h-spacing-45 u-nav u-unstyled u-v-spacing-12 " style="margin-left:-20%;">
                        <li class="u-nav-item">
                            <div class="styled-button4"><a class="u-button-style u-white-0 u-nav-link"
                                    href="/DCMTK/DCMTK-Einführung">DCMTK-Einführung</a>
                            </div>
                        </li>
                        <li class="u-nav-item">
                            <div class="styled-button4"><a class="u-button-style u-white-0 u-nav-link"
                                    href="/DCMTK/DCMTK-Tools">DCMTK-Tools</a>
                            </div>
                        </li>
                        <li class="u-nav-item">
                            <div class="styled-button4"><a class="u-button-style u-white-0 u-nav-link"
                                    href="/DCMTK/Softwareentwicklung_mit_DCMTK">Softwareentwicklung mit DCMTK</a>
                            </div>
                        </li>
                        <li class="u-nav-item">
                            <div class="styled-button4"><a class="u-button-style u-white-0 u-nav-link"
                                    href="/DCMTK/Support">Support</a>
                            </div>
                        </li>
                        <li class="u-nav-item">
                            <div class="styled-button4"><a class="u-button-style u-white-0 u-nav-link"
                                    href="/DCMTK/Spenden">Spenden</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>

            <li style=" min-width:17%; max-width: 10%; margin-left: -25px;" class="u-nav-item  ">
                <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-B-base u-align-center"
                    href="/DCMTK-Erweiterungsmodule" style="padding: 10px 44px;">
                    <br>DCMTK</br> Erweiterungsmodule<br></br></a>
                <div class="u-nav-popup">
                    <ul class="u-h-spacing-45 u-nav u-unstyled u-v-spacing-12 u-nav-4">
                        <li class="u-nav-item">
                            <div class="styled-button4"><a class="u-button-style u-white-0 u-nav-link"
                                    href="/DCMTK-Erweiterungsmodule/DCMPRINT">DCMPRINT</a></div>
                        </li>
                        <li class="u-nav-item">
                            <div class="styled-button4"><a class="u-button-style u-white-0 u-nav-link"
                                    href="/DCMTK-Erweiterungsmodule/DCMJP2K">DCMJP2K</a></div>
                        </li>
                        <li class="u-nav-item">
                            <div class="styled-button4"><a class="u-button-style u-white-0 u-nav-link"
                                    href="/DCMTK-Erweiterungsmodule/DCMPPS">DCMPPS</a></div>
                        </li>
                        <li class="u-nav-item">
                            <div class="styled-button4"><a class="u-button-style u-white-0 u-nav-link"
                                    href="/DCMTK-Erweiterungsmodule/DCMPPSCU">DCMPPSCU</a></div>
                        </li>
                        <li class="u-nav-item">
                            <div class="styled-button4"><a class="u-button-style u-white-0 u-nav-link"
                                    href="/DCMTK-Erweiterungsmodule/PPSMGR">PPSMGR</a></div>
                        </li>
                        <li class="u-nav-item">
                            <div class="styled-button4"><a class="u-button-style u-white-0 u-nav-link"
                                    href="/DCMTK-Erweiterungsmodule/DCMSTCOM">DCMSTCOM</a></div>
                        </li>
                        <li class="u-nav-item">
                            <div class="styled-button4"><a class="u-button-style u-white-0 u-nav-link"
                                    href="/DCMTK-Erweiterungsmodule/Testversionen">Testversionen</a></div>
                        </li>
                    </ul>
                </div>
            </li>

            <li style=" min-width:15%; max-width: 10%; margin-left: -25px;" class="u-nav-item">
                <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-B-base"
                    href="/DICOMscope" style="padding: 30px 44px;">
                    DICOMscope<br></br></a>
            </li>

            <li style=" min-width:10%; max-width: 50%; margin-left: -25px;" class="u-nav-item">
                <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-B-base"
                    href="/Dienstleistungen" style="padding: 10px 44px;">
                    Dienstleistungen<br></br></a>
                <div class="u-nav-popup">
                    <ul class="u-h-spacing-45 u-nav u-unstyled u-v-spacing-12 u-nav-5">
                        <li class="u-nav-item">
                            <div class="styled-button4"><a class="u-button-style u-white-0 u-nav-link"
                                    href="/Dienstleistungen/DICOM-Beratung">DICOM-Beratung</a></div>
                        </li>
                        <li class="u-nav-item">
                            <div class="styled-button4"><a class="u-button-style u-white-0 u-nav-link"
                                    href="/Dienstleistungen/DICOM-Schulung">DICOM-Schulung</a></div>
                        </li>
                        <li class="u-nav-item">
                            <div class="styled-button4"><a class="u-button-style u-white-0 u-nav-link"
                                    href="/Dienstleistungen/IHE-Schulung">IHE-Schulung</a></div>
                        </li>
                        <li class="u-nav-item">
                            <div class="styled-button4"><a class="u-button-style u-white-0 u-nav-link"
                                    href="/Dienstleistungen/HL7-Schulung">HL7-Schulung</a></div>
                        </li>
                    </ul>
                </div>
            </li>

            <li style=" min-width:15%; max-width: 10%; margin-left: -25px;" class="u-nav-item">
                <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-B-base"
                    href="/Kontakt" style="padding: 10px 44px;">
                    Kontakt<br></br></a>
                <div class="u-nav-popup">
                    <ul class="u-h-spacing-45 u-nav u-unstyled u-v-spacing-12 u-nav-6">
                        <li class="u-nav-item">
                            <div class="styled-button4"><a class="u-button-style u-white-0 u-nav-link"
                                    href="/Kontakt/Ansprechpartner">
                                    Ansprechpartner</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <!-- <li class="u-nav-item">
            <a href="/Home"><img src="{% static 'images/Flagge_englisch.png' %}" height="50px"></img></a>
          </li> -->
        </ul>
    </div>
    <!-- </div> -->

    <div class="u-custom-menu u-nav-container-collapse">
        <div class="u-blue-0 u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
            <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-itemsc u-nav-7">
                    <li class="u-nav-item"><a
                            class="u-button-style u-border-10 u-nav-link u-text-white u-text-hover-palette-B-base"
                            href="/Home">Home</a>
                    </li>
                    <li class="u-nav-item"><a
                            class="u-button-style u-border-10 u-nav-link u-text-white u-text-hover-palette-B-base"
                            href="/Allgemeines">Allgemeines</a>
                        <div class="u-nav-popup">
                            <ul class="u-h-spacing-45 u-nav  u-v-spacing-12 u-nav-8">
                                <li class="u-nav-item"><a
                                        class="u-button-style u-nav-link u-text-white u-text-hover-palette-B-base"
                                        style="text-indent: 15px;" href="/Allgemeines">Überblick</a>
                                </li>
                                <li class="u-nav-item"><a
                                        class="u-button-style u-nav-link u-text-white u-text-hover-palette-B-base"
                                        style="text-indent: 15px;"
                                        href="/Allgemeines/Standardisierung">Standardisierung</a>
                                </li>
                                <li class="u-nav-item"><a
                                        class="u-button-style u-nav-link u-text-white u-text-hover-palette-B-base"
                                        style="text-indent: 15px;"
                                        href="/Allgemeines/DICOM-Einführung">DICOM-Einführung</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="u-nav-item"><a
                            class="u-button-style u-border-10 u-nav-link u-text-white u-text-hover-palette-B-base"
                            href="/DCMTK">DCMTK</a>
                        <div class="u-nav-popup">
                            <ul class="u-h-spacing-45 u-nav u-v-spacing-12 u-nav-9">
                                <li class="u-nav-item"><a
                                        class="u-button-style u-nav-link u-text-white u-text-hover-palette-B-base"
                                        style="text-indent: 15px;" href="/DCMTK">Überblick</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link u-text-white u-text-hover-palette-B-base"
                                        style="text-indent: 15px;" href="/DCMTK/DCMTK-Einführung">DCMTK-Einführung</a>
                                </li>
                                <li class="u-nav-item"><a
                                        class="u-button-style u-nav-link u-text-white u-text-hover-palette-B-base"
                                        style="text-indent: 15px;" href="/DCMTK/DCMTK-Tools">DCMTK-Tools</a>
                                </li>
                                <li class="u-nav-item"><a
                                        class="u-button-style u-nav-link u-text-white u-text-hover-palette-B-base"
                                        style="text-indent: 15px;" href="/DCMTK/Softwareentwicklung_mit_DCMTK">DCMTK
                                        Softwareentwicklung</a>
                                </li>
                                <li class="u-nav-item"><a
                                        class="u-button-style u-nav-link u-text-white u-text-hover-palette-B-base"
                                        style="text-indent: 15px;" href="/DCMTK/Support">Support</a>
                                </li>
                                <li class="u-nav-item"><a
                                        class="u-button-style u-nav-link u-text-white u-text-hover-palette-B-base"
                                        style="text-indent: 15px;" href="/DCMTK/Spenden">Spenden</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="u-nav-item"><a
                            class="u-button-style u-border-10 u-nav-link u-text-white u-text-hover-palette-B-base"
                            href="/DCMTK-Erweiterungsmodule">
                            <span class="after"> DCMTK</span> Erweiterungsmodule</p1></a>
                        <div class="u-nav-popup">
                            <ul class="u-h-spacing-45 u-nav u-v-spacing-12 u-nav-10">
                                <li class="u-nav-item"><a
                                        class="u-button-style u-nav-link u-text-white u-text-hover-palette-B-base"
                                        style="text-indent: 15px;" href="/DCMTK-Erweiterungsmodule">Überblick</a>
                                </li>
                                <li class="u-nav-item"><a
                                        class="u-button-style u-nav-link u-text-white u-text-hover-palette-B-base"
                                        style="text-indent: 15px;" href="/DCMTK-Erweiterungsmodul/DCMPRINT">DCMPRINT</a>
                                </li>
                                <li class="u-nav-item"><a
                                        class="u-button-style u-nav-link u-text-white u-text-hover-palette-B-base"
                                        style="text-indent: 15px;" href="/DCMTK-Erweiterungsmodule/DCMJP2K">DCMJP2K</a>
                                </li>
                                <li class="u-nav-item"><a
                                        class="u-button-style u-nav-link u-text-white u-text-hover-palette-B-base"
                                        style="text-indent: 15px;" href="/DCMTK-Erweiterungsmodule/DCMPPS">DCMPPS</a>
                                </li>
                                <li class="u-nav-item"><a
                                        class="u-button-style u-nav-link u-text-white u-text-hover-palette-B-base"
                                        style="text-indent: 15px;"
                                        href="/DCMTK-Erweiterungsmodule/DCMPPSCU">DCMPPSCU</a>
                                </li>
                                <li class="u-nav-item"><a
                                        class="u-button-style u-nav-link u-text-white u-text-hover-palette-B-base"
                                        style="text-indent: 15px;" href="/DCMTK-Erweiterungsmodule/PPSMGR">PPSMGR</a>
                                </li>
                                <li class="u-nav-item"><a
                                        class="u-button-style u-nav-link u-text-white u-text-hover-palette-B-base"
                                        style="text-indent: 15px;" href="/DCMTK-Erweiterungsmodule/DCMTCOM">DCMSTCOM</a>
                                </li>
                                <li class="u-nav-item"><a
                                        class="u-button-style u-nav-link u-text-white u-text-hover-palette-B-base"
                                        style="text-indent: 15px;"
                                        href="/DCMTK-Erweiterungsmodule/Testversionen">Testversionen</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="u-nav-item"><a
                            class="u-button-style u-border-10 u-nav-link u-text-white u-text-hover-palette-B-base"
                            href="/DICOMscope">DICOMscope</a>
                    </li>
                    <li class="u-nav-item"><a
                            class="u-button-style u-border-10 u-nav-link u-text-white u-text-hover-palette-B-base"
                            href=/Dienstleistungen">Dienstleistungen</a>
                        <div class="u-nav-popup">
                            <ul class="u-h-spacing-45 u-nav u-v-spacing-12 u-nav-11">
                                <li class="u-nav-item"><a
                                        class="u-button-style u-nav-link u-text-white u-text-hover-palette-B-base"
                                        style="text-indent: 15px;" href="/Dienstleistungen">Überblick</a>
                                </li>
                                <li class="u-nav-item"><a
                                        class="u-button-style u-nav-link u-text-white u-text-hover-palette-B-base"
                                        style="text-indent: 15px;"
                                        href="/Dienstleistungen/DICOM-Beratung">DICOM-Beratung</a>
                                </li>
                                <li class="u-nav-item"><a
                                        class="u-button-style u-nav-link u-text-white u-text-hover-palette-B-base"
                                        style="text-indent: 15px;"
                                        href="/Dienstleistungen/DICOM-Schulung">DICOM-Schulung</a>
                                </li>
                                <li class="u-nav-item"><a
                                        class="u-button-style u-nav-link u-text-white u-text-hover-palette-B-base"
                                        style="text-indent: 15px;"
                                        href="/Dienstleistungen/IHE-Schulung<">IHE-Schulung</a>
                                </li>
                                <li class="u-nav-item"><a
                                        class="u-button-style u-nav-link u-text-white u-text-hover-palette-B-base"
                                        style="text-indent: 15px;"
                                        href="/Dienstleistungen/HL7-Schulung">HL7-Schulung</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="u-nav-item"><a
                            class="u-button-style u-border-10 u-nav-link u-text-white u-text-hover-palette-B-base"
                            href="/Kontakt">Kontakt</a>
                        <div class="u-nav-popup">
                            <ul class="u-h-spacing-45 u-nav u-v-spacing-12 u-nav-12">
                                <li class="u-nav-item">
                                <li class="u-nav-item"><a
                                        class="u-button-style u-nav-link u-text-white u-text-hover-palette-B-base"
                                        style="text-indent: 15px;" href="/Kontakt">Überblick</a>
                                </li>
                    </li>
                    <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-white u-text-hover-palette-B-base"
                            style="text-indent: 15px;" href="/Kontakt/Ansprechpartner">Ansprechpartner</a>
                    </li>
                </ul>
            </div>
            </li>
            </ul>
        </div>
    </div>
    <div class="u-black u-menu-overlay u-opacity u-opacity-70">
    </div>
    </div>
</nav>