{% load cms_tags sekizai_tags static i18n menu_tags page_meta_tags gtm_tags %}

{% page_meta request.current_page as page_meta %}

{% get_current_language as lang_code %}


<!DOCTYPE html>

<html lang="{{ lang_code }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>
        {% block page_title %}{% page_attribute 'page_title' %}{% endblock %} - {{ request.site.name }}
    </title>

    {% block meta %}
        {% include 'djangocms_page_meta/meta.html' with meta=page_meta %}
    {% endblock meta %}
    <!-- including css and favicons -->
    {% block "scripts" %}
    <!-- Favicons -->
    <link rel="shortcut icon" href="{% static 'global/img/favicon.ico' %}" type="image/x-icon"/>
    {% addtoblock "css" %}
    <link rel="stylesheet" href="{% static 'Website/static/css/nicepage.css' %}" media="screen">{% endaddtoblock %}
    {% addtoblock "css" %}
    <link rel="stylesheet" href="{% static 'Website/static/css/style.css' %}" media="screen">{% endaddtoblock %}
    {% addtoblock "css" %}
    <link rel="stylesheet" href="{% static 'Website/static/css/example.scss' %}" media="screen">{% endaddtoblock %}
    {% endblock %}
    <!-- included css and favicons -->
    {% render_block 'css' %}

    {% for language in languages %}
        {% if language.0 == settings.LANGUAGE_CODE %}
            <link rel="alternate" href="{{request.scheme}}://{{request.META.HTTP_HOST}}{% page_language_url language.0 %}" hreflang="x-default" />
        {% endif %}
        <link rel="alternate" hreflang="{{ language.0 }}" href="{{request.scheme}}://{{request.META.HTTP_HOST}}{% page_language_url language.0 %}"/>
    {% endfor %}

    <script>
        const DJANGO_ENV = '{{ settings.DJANGO_ENV.value }}';
        document.addEventListener('DOMContentLoaded', function () {
            if (window.django) {
                window.django.env = '{{ settings.DJANGO_ENV.value }}';
            } else {
                window.django = {
                    env: '{{ settings.DJANGO_ENV.value }}',
                }
            }
        });
    </script>

    {% if settings.DJANGO_ENV.value == 'local' %}

        <script defer src="{{ settings.WEBPACK_DEV_URL }}/vendor.bundle.js"
            data-is-reload-on-page-edit="true"
        ></script>
        <script defer src="{{ settings.WEBPACK_DEV_URL }}/global.bundle.js"
            data-is-reload-on-page-edit="true"
        ></script>
        <!-- manually included -->
        <script class="u-script" type="text/javascript" src="{% static 'Website/static/js/vendor/jquery/jquery.js' %}"
        defer=""></script>
        <script class="u-script" type="text/javascript" src="{% static 'Website/static/js/nicepage.js' %}" defer=""></script>
        <link id="u-theme-google-font" rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
        <!-- manually included -->
        <link rel="stylesheet" href="{{ settings.WEBPACK_DEV_URL }}/vendor.css">
        <link rel="stylesheet" href="{{ settings.WEBPACK_DEV_URL }}/global.css">
        
        {% block head_local_frontend_files %}{% endblock %}

    {% else %}

        <script defer src="{% static 'dist/vendor.js' %}" data-is-reload-on-page-edit="true"></script>
        <script defer src="{% static 'dist/global.js' %}" data-is-reload-on-page-edit="true"></script>

        <link rel="stylesheet" href="{% static 'dist/vendor.css' %}">
        <link rel="stylesheet" href="{% static 'dist/global.css' %}">
        <!-- manually included -->
        <script class="u-script" type="text/javascript" src="{% static 'Website/static/js/vendor/jquery/jquery.js' %}"
        defer=""></script>
        <script class="u-script" type="text/javascript" src="{% static 'Website/static/js/nicepage.js' %}" defer=""></script>
        <link id="u-theme-google-font" rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
        <!-- manually included -->
        {% block head_prod_frontend_files %}{% endblock %}
    {% endif %}

    {% render_block 'head_frontend_files' %}

    {% block head %}{% endblock %}

    {#        {% gtm_head settings.GTM_CONTAINER_ID %}#}
</head>
<body id="page-top" class="u-body lang-{{ lang_code }} {% render_block 'body_classes' %}">
<header style="max-width: inherit;  left: 50%; z-index: 90000;
transform: translate(-50%, -0%);" class=" u-clearfix u-header u-header" id="sec-0efc" data-animation-name=""
  data-animation-duration="10" data-animation-delay="0" data-animation-direction="">
{% show_menu 0 100 100 100 "menu/menu.html" %}
</header>
<main>
{#        {% gtm_body settings.GTM_CONTAINER_ID %}#}

{% cms_toolbar %}

{% block content_before %}{% endblock %}

<div class="container" style="max-width: 88rem;">

    {% block messages %}
        {% include 'includes/messages.html' with messages=messages %}
    {% endblock messages %}

    {% block content %}{% endblock %}

</div>

{% block content_after %}{% endblock %}
</main>
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-6419">
        {% static_placeholder 'footer' %}
        <div class="u-clearfix u-sheet u-sheet-1">
          <p class="u-small-text u-text u-text-variant u-text-1">Lorem ipsum dolor sit amet,
            consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
        </div>
        <div class="container">
          <div></div>
          <a class="u-button-style u-nav-link" href="/Impressum">Impressum</a>
          <a class="u-button-style u-nav-link" href="/Datenschutz">Datenschutz</a>
        </div>
      </footer>
{% render_block 'js' %}

</body>
</html>